@import '../../styles/sass/variables';

* {
  box-sizing: border-box;

  .blockFive {
    padding: 25px 0px;
    height: 60vh;
    text-align: left;
    background-color: $secondBackgroundColor;

    @media (max-width: 1200px) {
      height: 100%;
    }

    .blockFive_container {
      width: 80%;
      margin: 0px auto;
      height: 100%;

      @media (max-width: 700px) {
        width: 90%;
      }

      .blockFive_sides {
        display: flex;
        flex-wrap: wrap;

        h4 {
          font-weight: 500;
          line-height: 1.2;
          font-size: 25px;
          margin: 40px 0 20px;
        }

        .blockFive_left {
          flex: 1 1 30%;

          @media (max-width: 700px) {
            flex: 1 1 50%;
          }
        }

        .blockFive_right {
          flex: 1 1 60%;

          .blockFive_contactArea {
            display: flex;
            flex-direction: column;
            max-width: 350px;
            margin: auto;

            input {
              margin: 5px;
              padding: 5px 10px;
            }

            .input_message {
              height: 80px;
              max-width: 350px;
              margin: 5px;
              padding: 5px 10px;
            }

            input, textarea {
              font-size: 14px;
              color: $secondBackgroundColor;
              font-family: 'Roboto', sans-serif;
              background-color: $secondBackgroundColor;
              outline: none;
              border: 1px solid $textColor;
              cursor: pointer;
            }

            input:focus, textarea:focus {
              outline-color: $mainBackgroundColor;
              color: $textColor;
              border: 2px solid $textColor;
            }

            input::placeholder, textarea::placeholder {
              color: $textColor;
              font-size: 14px;
              font-weight: 300;
              opacity: 0.5;
              font-family: 'Roboto', sans-serif;
            }

            .blockFive_button {
              margin: 10px 15px 15px 115px;
              padding: 5px 10px;
            }
          }
        }
      }
    }
  }
}







