$textColor: white;
$mainBackgroundColor: #0c0c14;
$secondBackgroundColor: #212529;
$borderColor: gray;
$accentColor: #2fbf71;
$headerMenuBorder: gray;

$fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;




