@import '../../../styles/sass/variables';

.project {
  flex: 0 1 40%;
  padding: 10px;
  margin: 5px;

  @media (max-width: 900px) {
    flex: 1 1 100%;
  }

  .project_image {
    height: 300px;
    background-color: $borderColor;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;

    button {
      @media (max-width: 400px) {
        font-size: 12px;
      }
    }

    .project_imageLayout {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: $borderColor;
      opacity: 0.7;
      z-index: 2;
    }

    button {
      cursor: pointer;
      padding: 5px 10px;
      position: absolute;
      z-index: 5;
      top: 30%;
      left: 40%;
    }
  }

  .project_info {
    margin-top: -50px;
    width: 90%;
    margin-left: 11%;
    padding: 20px;
    color: $textColor;
    text-align: left;
    background-color: $secondBackgroundColor;
    position: relative;
    z-index: 3;

    h4 {
      font-weight: 500;
      line-height: 1.2;
      font-size: 25px;
      margin: 0px 0px 20px 0px;

      @media (max-width: 400px) {
        font-size: 20px;
        margin: 5px;
        font-weight: 600;
      }
    }

    .project_description {
      line-height: 1.2;
      font-size: 15px;
      font-weight: 400;

      @media (max-width: 400px) {
        line-height: 1.2;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}



